* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial , Helvetica, sans-serif;
}

body {
    background-color: #F6F8F9;
}

header {
    background-color: #fff;
    padding: 10px;
}

header img {  
    vertical-align: middle;
    padding: 5px 5px 5px 30px;   
}

header span {
    font-size: 35px;
    font-weight: bolder;
    vertical-align: middle;
}

main {
    width: 60%;
    margin: auto;
}

main header {
    background-color: #fff;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 50px;
}

main section {
    background-color: #fff;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 50px;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
}

#addtext {
    background-color: #47ADF1;
    color: white;
    border: 0;
}

#addsection {
    background-color: white;
    color: #D3D7DB;
    border: 1px solid #D3D7DB;
}

ul {
    padding-inline-start: 0px;
    list-style: none;
    color: #5D6169;
}

.outlist {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.outlist::before {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 8px solid #5D6169;
}

.donelist {
    font-size: 15px;
    font-weight: normal;
    padding-top: 5px;
}
.donelist::before {
    content: "\2714";
    color: #6DC4AF;
    border: 1px solid #6DC4AF;
    border-radius: 50%;
    padding: 1px 3px;
    margin-right: 5px;
}
