* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #F6F8F9;
}

header {
    background-color: #fff;
}
header img {  
    line-height: 50px;
    padding: 5px 15px 5px 30px;
    vertical-align: middle;
}
header span {
    font-size: 35px;
    font-weight: bolder;
}

main {
    width: 60%;
    margin: auto;
}

.blocco {
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 50px;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
}

#addtext {
    background-color: #47ADF1;
    color: white;
    border: 0;
}

#addsection {
    background-color: white;
    color: #D3D7DB;
    border: 1px solid #D3D7DB;
}

